In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)
df

,timestamp,gshield_info,src_ip,dst_ip,byte,protocol,src_port,dst_port,date,time,hour,minute,second
0,2023:03:17-00:00:00,Host|pass*rule-2,192.168.1.48,4.4.2.2,80,UDP,34278,53,2023:03:17,00:00:00,0,0,0
1,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,58900,53,2023:03:17,00:00:00,0,0,0
2,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,58900,53,2023:03:17,00:00:00,0,0,0
3,2023:03:17-00:00:00,Host|pass*rule-1,103.76.250.6,84.39.152.33,48,TCP,55390,80,2023:03:17,00:00:00,0,0,0
4,2023:03:17-00:00:01,Host|pass*rule-44,37.150.223.102,192.168.1.12,52,TCP,55581,3389,2023:03:17,00:00:01,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090562,2023:03:17-23:59:57,Host|pass*rule-7,192.168.1.242,192.168.43.150,884,UDP,28151,5060,2023:03:17,23:59:57,23,59,57
1090563,2023:03:17-23:59:58,Host|pass*rule-44,188.165.45.213,192.168.1.12,52,TCP,56981,3389,2023:03:17,23:59:58,23,59,58
1090564,2023:03:17-23:59:59,Host|pass*rule-44,103.104.84.129,192.168.1.12,52,TCP,34634,3389,2023:03:17,23:59:59,23,59,59
1090565,2023:03:17-23:59:59,Host|pass*rule-1,103.76.250.6,8.8.8.8,72,UDP,43567,53,2023:03:17,23:59:59,23,59,59
1090566,2023:03:17-23:59:59,Host|pass*rule-1,103.76.250.6,216.163.176.37,48,TCP,39570,80,2023:03:17,23:59:59,23,59,59

In [ ]:
# hourly_table = pd.pivot_table(data=df,index=['hour'],values=['second'],aggfunc={np.sum})

In [23]:
hourly_table = pd.pivot_table(data=df,index=['hour'],values=['byte'],aggfunc={len,np.sum})
hourly_table.to_csv("csv/hourly_conn_bytes.csv")
hourly_table

       byte
        len       sum
hour
0     28262   2522864
1     27250   2461649
2     27514   2475017
3     26499   2405407
4     26828   2443805
5     27214   2455047
6     29036   2549411
7     26898   2523822
8     26710   2578768
9     50313   6784759
10    71572  11255148
11    75681  13976076
12    90821  14953467
13    79952  12868114
14    87961  15354145
15    67182  11880098
16    72886  11583547
17    56825   8911564
18    49971   7932829
19    37496   5592638
20    27087   2372833
21    25649   2466984
22    26033   2329549
23    24927   2270558

In [24]:
hourly_conn_bytes = pd.read_csv("csv/hourly_conn_bytes.csv",skiprows=3,sep=',',names=['hour','connection','bytes'])
hourly_conn_bytes.to_csv("csv/hourly_conn_bytes.csv",index=False)

In [28]:
hourly_conn_bytes

    hour  connection     bytes
0      0       28262   2522864
1      1       27250   2461649
2      2       27514   2475017
3      3       26499   2405407
4      4       26828   2443805
5      5       27214   2455047
6      6       29036   2549411
7      7       26898   2523822
8      8       26710   2578768
9      9       50313   6784759
10    10       71572  11255148
11    11       75681  13976076
12    12       90821  14953467
13    13       79952  12868114
14    14       87961  15354145
15    15       67182  11880098
16    16       72886  11583547
17    17       56825   8911564
18    18       49971   7932829
19    19       37496   5592638
20    20       27087   2372833
21    21       25649   2466984
22    22       26033   2329549
23    23       24927   2270558

In [7]:
hours=hourly_conn_bytes.hour.to_list()
print("hours:",hours)

hours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [8]:
connection=hourly_conn_bytes.connection.to_list()
print("connection:",connection)

connection: [28262, 27250, 27514, 26499, 26828, 27214, 29036, 26898, 26710, 50313, 71572, 75681, 90821, 79952, 87961, 67182, 72886, 56825, 49971, 37496, 27087, 25649, 26033, 24927]

In [9]:
bytes=hourly_conn_bytes.bytes.to_list()
print("bytes:",bytes)

bytes: [2522864, 2461649, 2475017, 2405407, 2443805, 2455047, 2549411, 2523822, 2578768, 6784759, 11255148, 13976076, 14953467, 12868114, 15354145, 11880098, 11583547, 8911564, 7932829, 5592638, 2372833, 2466984, 2329549, 2270558]

In [10]:
duration=hourly_conn_bytes.connection.to_list()
print("duration:",duration)

duration: [28262, 27250, 27514, 26499, 26828, 27214, 29036, 26898, 26710, 50313, 71572, 75681, 90821, 79952, 87961, 67182, 72886, 56825, 49971, 37496, 27087, 25649, 26033, 24927]

In [31]:
import pandas as pd
import numpy as np
df = pd.read_csv('csv/cleaned_loged.csv', low_memory=False)
hourly_table = pd.pivot_table(data=df,index=['hour'],values=['byte'],aggfunc={len,np.sum})
hourly_table.to_csv("csv/hourly_conn_bytes.csv")
hourly_conn_bytes = pd.read_csv("csv/hourly_conn_bytes.csv",skiprows=3,sep=',',names=['hour','connection','bytes'])
hourly_conn_bytes.to_csv("csv/hourly_conn_bytes.csv",index=False)

hours=hourly_conn_bytes.hour.to_list()
connection=hourly_conn_bytes.connection.to_list()
bytes=hourly_conn_bytes.bytes.to_list()
duration=hourly_conn_bytes.connection.to_list()

    hour  connection     bytes
0      0       28262   2522864
1      1       27250   2461649
2      2       27514   2475017
3      3       26499   2405407
4      4       26828   2443805
5      5       27214   2455047
6      6       29036   2549411
7      7       26898   2523822
8      8       26710   2578768
9      9       50313   6784759
10    10       71572  11255148
11    11       75681  13976076
12    12       90821  14953467
13    13       79952  12868114
14    14       87961  15354145
15    15       67182  11880098
16    16       72886  11583547
17    17       56825   8911564
18    18       49971   7932829
19    19       37496   5592638
20    20       27087   2372833
21    21       25649   2466984
22    22       26033   2329549
23    23       24927   2270558
hours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
connection: [28262, 27250, 27514, 26499, 26828, 27214, 29036, 26898, 26710, 50313, 71572, 75681, 90821, 79952, 87961, 67182, 72886, 56825, 49971, 37496, 27087, 25649, 26033, 24927]
bytes: [2522864, 2461649, 2475017, 2405407, 2443805, 2455047, 2549411, 2523822, 2578768, 6784759, 11255148, 13976076, 14953467, 12868114, 15354145, 11880098, 11583547, 8911564, 7932829, 5592638, 2372833, 2466984, 2329549, 2270558]
duration: [28262, 27250, 27514, 26499, 26828, 27214, 29036, 26898, 26710, 50313, 71572, 75681, 90821, 79952, 87961, 67182, 72886, 56825, 49971, 37496, 27087, 25649, 26033, 24927]